<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> Update User Data</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="">Enter Name</label>
        <input type="text" name="name" id="" value="{{ cd.name }}"><br><br>
        <label for="">Enter Deptt </label>
        <input type="text" name="dept" id="" value="{{ cd.dept }}"><br><br>
        <label for="">Enter salary</label>
        <input type="text" name="salary" id="" value="{{ cd.salary }}">
        <br><br>
        <input type="Submit" value="Update">
</body>

</html>